.cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 5%;
}

.car {
    width: calc(25% - 10%);
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    max-width: 200px;
    max-height: 200px;
}

.product h2 {
    font-size: 18px;
    margin-top: 10px;
}

.product p {
    font-size: 14px;
    margin-top: 5;
}

