{% extends 'drivers/base.html' %}

{% block content%}


    <h2>Имя - {{driver.name}}</h2>
    <h2>Фамилия - {{driver.lastname}}</h2>
    {% if driver.is_available %}
        <h2>Ваш статус - Активен </h2>
    {% else %}
        <h2>Ваш статус - Не активен</h2>
    {% endif %}
    <hr>
    {% if driver.cardriver_set.first.car %}
        <h2>Ваш автомобиль:</h2>
        <h2>{{car.brand.name}}   {{car.model}}    {{car.year}} </h2>

        <form method="get" action="{% url 'drivers:select_car' %}">
            <input type="submit" value="Сменить машину">
        </form>
        <br>
        <br>
        <form method="get" action="{% url 'drivers:refuse_car' %}">
        
            <input type="submit" value="Отказаться от машины">
        </form>
    {% else %}
        <a href="{% url 'drivers:select_car' %}">Выбрать машину</a>

    {% endif %}

{% endblock content%}
