{% extends "drivers/base.html" %}
{% load static %}

{% block content %}

{% load thumbnail %}

<link rel="stylesheet" href="{% static 'css/cars.css'%}" type="text/css">

<div class="cars">
    {% for car in cars %}
    <div class="car">
        {% if car.image %}
            {% thumbnail car.image "300" as im %}
                <img src="{{im.url}}">
            {% endthumbnail %}
        {% else %}
            <img width="300" heigth="300" src="/static/img/noimage.jpg">
        {% endif %}
        
        <h2>{{car.brand.name}} {{car.model}}</h2>
        <p>Цвет - {{car.color}}</p>
        <p>Год выпуска - {{car.year}}</p>
        <p>Класс - {{car.category}}</p>
        <hr>
    {% endfor %}


{% endblock content %}