{% extends "drivers/base.html" %}
{% load static %}

{% block content %}

{% load thumbnail %}

<link rel="stylesheet" href="{% static 'css/cars.css' %}" type="text/css">

<script>
    async function selectCar(carId) {
        let car = {
            id: carId
        }
        let response = await fetch('drivers/test_fetch/',{
            method:"POST",
            headers: {
                "Content-Type": "application/json", 'X-CSRFToken': '{% csrf_token %}'},
            body: JSON.stringify(car),
            credentials: 'same-origin',

        }
        )
        let result = await response.json();
    }
</script>

<div class="car-count">
    Количество доступных машин: <span>{{count}}</span>
</div>

<div class="cars">
    {% for car in cars %}
    <div class="car">
        {% if car.image %}
            {% thumbnail car.image "300" as im %}
                <img src="{{im.url}}">
            {% endthumbnail %}
        {% else %}
            <img width="300" heigth="300" src="/static/img/noimage.jpg">
        {% endif %}
        
        <h2>{{car.brand.name}} {{car.model}}</h2>
        <p>Цвет - {{car.color}}</p>
        <p>Год выпуска - {{car.year}}</p>
        <p>Класс - {{car.category}}</p>
        {% comment %} <p><a href="{% url 'drivers:select_car' pk=car.id %}" class="btn btn-lg">Выбрать</a></p> {% endcomment %}
        <button onclick="selectCar("{{car.id}}")">Выбор JS</button>
        <hr>
    </div>  
    {% endfor %}
    
</div>
{% endblock content %}